In [10]:
import csv
import pandas as pd

filename = "c:\\Users\\aaron\\OneDrive\\Github\\2018_Transaction_History.csv"

transactionsDF = pd.read_csv(filename)

transactionsDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          10 non-null     object
 1   credit        3 non-null      object
 2   debit         7 non-null      object
 3   category      10 non-null     object
 4   notes         10 non-null     object
 5   account_type  10 non-null     object
 6   account_no    10 non-null     int64
dtypes: int64(1), object(6)
memory usage: 688.0+ bytes

## Utilizing pandas dataframe for account transations

In [ ]:
class Ledger:
    '''
    Accounting Transaction object class. Used to manage transaction specifics such as
    category, categories used, category totals, etc., 
    '''
    
    def __init__(self, file_path):
    
        self.file_path = file_path
        self.transactionsDF = pd.read_csv(file_path)
    
    def categorize (self):
    
        cat_list = list(input("Enter comma seperated list of categories used:"))
        
        
    def see_vendors (self):
        
        transactionsDF

In [104]:
### Create an Account class that can instantiate objects based on different accounts for a person. Checking, savings...
### Transactions.csv 1st row, column names
### date,credit,debit,category,notes,account_no


class Accounts:

    filename = "c:\\Users\\aaron\\OneDrive\\Github\\practice\\classes\\transactions.csv"
    
    def __init__(self, owner):
        self.owner = owner
        self.transactionsDF = pd.read_csv(filename)
        
    def get_accts(self):
        return self.transactionsDF['account_no'].unique()
    
    def get_balance(self, account_no):
        ### get balance for account no. sum of CREDITS - sum of DEBITS
        
        
        self.transactionsDF['date'] = pd.to_datetime(self.transactionsDF['date'])
        self.bal_by_accountno = self.transactionsDF.groupby("account_no")[['debit','credit']].sum()
        
        return self.bal_by_accountno.loc[account_no, 'credit'] - self.bal_by_accountno.loc[account_no, 'debit']
        
    def transaction(self, account_no):
        ### method for adding transactions to accounts. 
        trans_date = input("Enter transaction date: ")
        trans_credit = input("Enter transaction credit: ")
        trans_debit = input("Enter transaction debit: ")
        trans_category = input("Enter transaction category: ")
        trans_notes = input("Enter transaction notes: ")
        
        ### how did I find myself here?
        ### ↓↓↓
        trans_dict = {"date":trans_date,"credit":trans_credit,"debit":trans_debit,"category":trans_category,
                      "notes":trans_notes,"account_no":account_no}
        
        self.transactionsDF.append(trans_dict,ignore_index=True)

    def search_for(self):
        ### return a dataframe search result using the filterby variable
        ### e.g. return all 01/01/21 transactions
        
        search_category = input("[date,credit,debit,category,notes,account_no]\nSearch which column: ")
        search_item = input("Enter what you're searching for: ")
        search_phrase = (search_category + '==' + "'" + search_item + "'")
        print(f"Search phrase: {search_phrase}\n\n")
        
        print(self.transactionsDF.query(search_phrase, inplace=True))
        
    def run_budget(self):
        '''
 def deposit_funds(self,category,funds):
        self.expense_budget[category] += funds
        print(f"Category Total: {self.expense_budget[category]}")
        
    def withdraw_funds(self,category,funds):
        self.expense_budget[category] -= funds
        print(f"Category Total: {self.expense_budget[category]}")
        '''

In [137]:
## Create a Budget class that can instantiate objects based on different budget categories like food, clothing, 
## and entertainment. These objects should allow for depositing and withdrawing funds from each category, as well 
## computing category balances and transferring balance amounts between categories”
## Transaction columns: date,credit,debit,category,notes,account_no
## Expense Categories: food, tech, housing, entertain, savings, clothing, 

class Budget:
    '''
    Budget class. Used to see where one's monthly spending falls within their budget requirements.
    '''
        
    # Instantiate
    def __init__(self, transDF):
        
        self.transDF = transDF
        self.cols = self.transDF.columns
        self.expense_budget = {"food":400,
                               "tech":150,
                               "housing":1200,
                               "entertain":275,
                               "savings":200,
                               "clothing":75}
    
        
        #self.limit = limit
        
    def set_limit_for(self,cat,limit):
        ### method for setting budget limit for categorys, see self.cols
        self.expense_budget[cat] = limit
        print(f"Expense categories with limits:")
        
        for cats in self.expense_budget:
            print(f"{cats}: {self.expense_budget[cats]}")

    def see_limit_percent(self):
        total = 0
        for cat in self.expense_budget:
            total += self.expense_budget[cat]
        self.balance = total
        
        print("Expense Budget Percentages.\n(Remember, this is showing what the upper limit is. Not the actual expenses)\n")
        print(f"Total Max Expenses: {self.balance}")
        
        for cat in self.expense_budget:
            cat_prop = self.expense_budget[cat] / self.balance
            print("%s:\t\t\t%5.2f"%(cat,cat_prop))

In [ ]:
def budget_module():
    
    print("|ΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞ|")
    print("|               Budget Module                     |")
    print("|ΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞ|")

In [ ]:
def menu():
    
    print("|ΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞ|")
    print("|        [S]pending & [B]udgeting [P]rogram       |")
    print("|                  [S] [B] [P]                    |")
    print("|                    ver 0.1                      |")
    print("|ΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞ|")
    
    print()

    choice = input("""
                      A: Process Spending
                      B: Budget Module
                      Q: Quit

                      Please enter your choice: """)

    if choice == "A" or choice =="a":
        pass
    elif choice == "B" or choice =="b":
        pass
    elif choice=="Q" or choice=="q":
        sys.exit
    else:
        print("You must only select either A or B")
        print("Please try again")
        menu()

In [146]:
import csv
import sys
import string #for use in the secure password and other parts of the program

def main():
    menu()

def menu():
    
    print("|ΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞ|")
    print("|        [S]pending & [B]udgeting [P]rogram       |")
    print("|                  [S] [B] [P]                    |")
    print("|                    ver 0.1                      |")
    print("|ΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞ|")
    
    print()

    choice = input("""
                      A: Process Spending
                      B: Budget Module
                      Q: Quit

                      Please enter your choice: """)

    if choice == "A" or choice =="a":
        pass
    elif choice == "B" or choice =="b":
        pass
    elif choice=="Q" or choice=="q":
        sys.exit
    else:
        print("You must only select either A or B")
        print("Please try again")
        menu()

#the program is initiated, so to speak, here
main()

**************************


                      A: Process Ledger
                      B: Budget Module
                      Q: Quit

                      Please enter your choice: q

In [145]:
option

'Q'

In [138]:
# Note: "myacct" is the representation of the object outside of the class and "self" is the representation of the object inside the class.

myacct = Accounts('Aaron')
mybudget = Budget(transactionsDF)

In [139]:
mybudget.expense_budget

{'food': 400,
 'tech': 150,
 'housing': 1200,
 'entertain': 275,
 'savings': 200,
 'clothing': 75}

In [140]:
mybudget.set_limit_for('entertain',210)

Expense categories with limits:
food:400
tech:150
housing:1200
entertain:210
savings:200
clothing:75

In [141]:
mybudget.expense_budget

{'food': 400,
 'tech': 150,
 'housing': 1200,
 'entertain': 210,
 'savings': 200,
 'clothing': 75}

In [127]:
mybudget.see_limit_percent()

Expense Budget Percentages. Remember, this is showing what the upper limit is. Not the actual expenses

Total Max Expenses: 2235
food:  0.18
tech:  0.07
housing:  0.54
entertain:  0.09
savings:  0.09
clothing:  0.03

In [92]:
transactionsDF['account_no'].unique()

array([7149, 7913,   67], dtype=int64)

In [106]:
aaronacct = Accounts('aaron')

In [107]:
aaronacct.get_accts()

array([7149, 7913, 2167], dtype=int64)

In [95]:
aaronacct.get_balance(7913)

19500.0

In [100]:
transactionsDF.query("date == 12/07/2020")

SyntaxError: invalid syntax (<unknown>, line 1)

In [108]:
aaronacct.search_for()

date,credit,debit,category,notes,account_no                                 Search which column: category
Enter what you're searching for: food
Search phrase: category=='food'


None

In [96]:
aaronacct.transactionsDF

,date,credit,debit,category,notes,account_type,account_no
0,2020-12-01,NaN,100.0,food,groceries,checking,7149
1,2020-12-04,NaN,55.0,tech,charge cable for garmin,checking,7149
2,2020-12-05,NaN,11.0,food,snacks,checking,7149
3,2020-12-07,NaN,200.0,entertainment,etc,checking,7149
4,2020-12-07,NaN,110.0,food,ordered takeout,checking,7149
5,2020-12-07,500.0,NaN,deposit,from 7913,checking,7149
6,2020-12-07,NaN,500.0,transfer,to 7149,checking,7913
7,2020-12-08,NaN,100.0,savings,save,checking,7149
8,2020-12-08,100.0,NaN,savings,save,savings,2167
9,2020-12-02,20000.0,NaN,salary,paycheck,checking,7913

In [60]:
aaronacct.transaction(7149)

Enter transaction date: 1/1/21
Enter transaction credit:
Enter transaction debit: 140
Enter transaction category: food
Enter transaction notes: grocery
Enter transaction account no: 7149

In [61]:
aaronacct.transactionsDF

     date credit debit category    notes account_type account_no
0  1/1/21          140     food  grocery     checking       7149
1  1/1/21          140     food  grocery     checking       7149
2  1/1/21          140     food  grocery     checking       7149
3  1/1/21          140     food  grocery     checking       7149
4  1/1/21          140     food  grocery     checking       7149
5  1/1/21          140     food  grocery     checking       7149
6  1/1/21          140     food  grocery     checking       7149
7  1/1/21          140     food  grocery     checking       7149
8  1/1/21          140     food  grocery      savings       7149
9  1/1/21          140     food  grocery     checking       7149

In [40]:
aaronacct.transactionsDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          10 non-null     datetime64[ns]
 1   credit        3 non-null      float64
 2   debit         7 non-null      float64
 3   category      10 non-null     object
 4   notes         10 non-null     object
 5   account_type  10 non-null     object
 6   account_no    10 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 688.0+ bytes

In [95]:
aaron = Budget()

In [96]:
aaron.expense_budget

{'food': 300.0,
 'clothing': 75.0,
 'entertainment': 125.0,
 'health': 100.0,
 'housing': 500.0,
 'auto': 250.0}

In [47]:
aaron.set_category_limit('clothing',100.00)

In [48]:
aaron.set_category_limit('entertainment',200.00)

In [49]:
aaron.set_category_limit('auto',300.00)

In [50]:
aaron.set_category_limit('health',50.00)

In [85]:
aaron.see_category_proportions()

Expense Budget Percentages

Total Expenses: 1350.0
food:  0.22
clothing:  0.06
entertainment:  0.09
health:  0.07
housing:  0.37
auto:  0.19

In [97]:
aaron.deposit_funds('food',200.00)

Category Total: 500.0

In [98]:
aaron.withdraw_funds('clothing',25.0)

Category Total: 50.0

In [40]:
ll

{'food': 150.0,
 'clothing': 0,
 'entertainment': 0,
 'health': 0,
 'housing': 0,
 'auto': 0,
 'income': 0}

In [10]:
dict = {'food':100,'clothes':50}

In [11]:
dict

{'food': 100, 'clothes': 50}

In [12]:
dict.append('housing':1000)

SyntaxError: invalid syntax (<ipython-input-12-642670496a14>, line 1)

In [13]:
dict['housing'] = 1000

In [14]:
dict

{'food': 100, 'clothes': 50, 'housing': 1000}

In [37]:
ll = {'food': 150.0,
 'clothing': 0,
 'entertainment': 0,
 'health': 0,
 'housing': 0,
 'auto': 0,
 'income': 0}

In [41]:
total = 0
for item in ll:
    total += ll[item]

print(total)

150.0